.navbar {
    background-color: var(--sxm-primary);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--sxm-light);
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: var(--sxm-secondary);
}

.nav-link {
    color: var(--sxm-light);
    font-size: 1.1rem;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: var(--sxm-primary-light);
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.nav-link.active {
    background-color: var(--sxm-primary-light);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-link {
        margin-right: 0;
        padding: 10px 15px;
    }
}

.links {
    margin-top: 10px;
}

.btn {
    margin-right: 10px;
}