<div *ngIf="allMissions.length > 0">
    <div class="launches-container">
        <div *ngFor="let mission of displayedMissions" class="mission-card"
            [ngClass]="{'success': mission.success, 'failure': !mission.success}">
            <div class="mission-image-container">
                <ng-container *ngIf="mission.smallImageUrl; else noImage">
                    <img [src]="mission.smallImageUrl" alt="{{ mission.name }}" class="mission-image" />
                </ng-container>
                <ng-template #noImage>
                    <div class="no-image-placeholder">
                        <i class="fas fa-rocket"></i>
                    </div>
                </ng-template>
            </div>
            <div class="mission-info">
                <h3 class="mission-title">{{ mission.name }}</h3>
                <p class="launch-date">{{ mission.dateUtc | date: 'MMM d, y' }}</p>
                <p *ngIf="mission.rocket"><strong>Rocket:</strong> {{ mission.rocket }}</p>
                <div class="crew-list" *ngIf="mission.crew && mission.crew.length > 0">
                    <strong>Crew:</strong>
                    <span *ngFor="let crewMember of mission.crew; let last = last">
                        {{ crewMember.role }} ({{ crewMember.crew }}){{ !last ? ', ' : '' }}
                    </span>
                </div>
                <div class="mission-links">
                    <a *ngIf="mission.webcast" [href]="mission.webcast" target="_blank" class="btn btn-light">Watch</a>
                    <a *ngIf="mission.wikipedia" [href]="mission.wikipedia" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <sxm-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)">
    </sxm-pagination>
</div>