:host.ng-invalid.ng-dirty div input {
    border: 1px solid var(--sxm-danger) !important;
    box-shadow: 0 0 0 0.125em rgb(215, 69, 40, 0.25) !important;
}

input.input[type='number'] {
    max-width: 7rem;
}

.input:focus {
    border-color: var(--sxm-secondary) !important;
    box-shadow: 0 0 0 0.1rem color-mix(in srgb, var(--sxm-secondary) 30%, transparent) !important;
}

.input:hover {
    border-color: var(--sxm-secondary) !important;
}