<div class="bg-gray-100 vh-100 d-flex align-items-center justify-content-center">
    <div class="shadow-lg rounded text-center not-found-container">
        <div class="bg-danger text-white px-5 py-3 rounded-top">
            <div class="pt-4 pb-3">
                <i class="fa-thin fa-face-frown-slight fa-7x text-white"></i>
            </div>
            <h2 class="mb-0">Page not found</h2>
        </div>
        <div class="text-center py-4">
            <button class="btn btn-primary" (click)="onGoBackToHome()">Go To Launches</button>
        </div>
    </div>
</div>