.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        border: none;
        background-color: var(--sxm-primary);
        color: white;
        padding: 10px 15px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--sxm-primary-light);
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    span {
        margin: 0 10px;
    }
}