.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, var(--sxm-primary-dark), var(--sxm-primary), var(--sxm-primary-light));
  }
  
  .login-card {
    background: white;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 1rem rgba(0, 0, 0, 0.3);
    width: 29rem;
    margin: 0 1rem;
  }
  
  .login-title {
    text-align: center;
    color: var(--sxm-primary);
  }
  
  .login-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--sxm-primary);
    color: white;
    border: none;
    border-radius: 0.313rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:disabled {
    background-color: #bbb;
    cursor: not-allowed;
  }
  
  .login-btn:hover:not(:disabled) {
    background-color: var(--sxm-primary-light);
  }

  .register-section {
    margin-top: 1.5rem;
    text-align: center;
  
    p {
      margin-bottom: 0.5rem;
    }
  
    .register-btn {
      background-color: transparent;
      color: var(--sxm-link);
      border: none;
      cursor: pointer;
      text-decoration: none;
    }
  
    .register-btn:hover {
      color: var(--sxm-link);
      text-decoration: underline;
    }
  }