<div class="login-container">
    <div class="login-card">
        <h1 class="login-title">SpaceX Mission Login</h1>
        <form [formGroup]="loginForm">
            <div class="mb-2">
                <sxm-input formControlName="username" label="Username" [isRequired]="true">
                </sxm-input>

                <sxm-validation-message *ngIf="!loginForm.get('username')?.pristine"
                    [validationErrors]="loginForm.controls.username.errors"
                    [customErrors]="{'invalidEmail': 'Enter a valid email address',
                    'whiteSpace': 'The value cannot start or end with white spaces'}">
                </sxm-validation-message>
            </div>

            <div class="mb-2">
                <sxm-input formControlName="password" label="Password" type="password" [isRequired]="true">
                </sxm-input>
                <sxm-validation-message *ngIf="!loginForm.get('password')?.pristine"
                    [validationErrors]="loginForm.controls.password.errors"
                    [customErrors]="{'strongPassword': 'Password must be 8+ characters with uppercase, lowercase, number and special character'}">
                </sxm-validation-message>
            </div>

            <button type="submit" class="login-btn" [disabled]="loginForm.invalid"
                (click)="onLoginClick()">Login</button>
        </form>

        <div class="register-section">
            <p>Don't have an account?</p>
            <button class="register-btn" (click)="onRegisterClick()">Register</button>
        </div>

    </div>
</div>